html, body {
    background-color: #FFF;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
}

a::before {
    color: #B97A5A;
}

a:any-link {
    color: #C3C3C3;
}

.fejlec {
    display: block;
    margin: 0 auto 0 auto;
}

.linkek {
    font-style: italic;
}

.akep {
    float: right;
    margin-left: 2px;
    margin-right: 2px;
    width: 300px;
    border: 1px solid #000;
}

h1, h2 {
    color: #B97A5A;
}